/* CSS Document */

.konsole {
	color:#5DFC0A;
	font-family:"monaco";
	font-size:10px;
	padding:5px;
	background-color:#000;
	text-shadow:none;
	text-align:left;
	height:300px;
	overflow:scroll;
	overflow-x:hidden;
}
.konsole p{
	margin:0px;
	padding:0px;	
}
.container{
	width:700px;
	margin:0 auto;	
	margin-top:40px;
}
.window {
		border:1px solid #000;
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.window_inner{
	border:1px solid #fff;
	padding:20px;
		
}
body {
	background-color:#eee;	
	font-family:Tahoma, Geneva, sans-serif;
	text-shadow: 0px 1px 0px #ffffff;
filter: dropshadow(color=#ffffff, offx=0, offy=1);	
}
.kinput input[type="text"] {
	width:640px;	
}
.kinput {
	background-color:#fff;
}
.koutput {
	background-color:#000;	
	padding:5px;
	height:200px;
	overflow:scroll;
	overflow-x:hidden;
}
.top p {
	text-align:center;	
}
.red {
	color:#C00;	
}
.green {
	color:#009900;	
}
p{
	margin:0px;
	padding:0px;	
}
th {
	font-weight:normal;
	text-decoration:underline;	
}

.footer{
	text-align:center;
	margin-top:30px;
	font-size:13px;	
}
h3 {
	margin:0px;
	padding:0px;
	font-weight:normal;
	text-decoration:underline;
	font-size:16px;	
	text-align:center;
}.bottom{
	text-align:left;	
}
.left {
	text-align:left;	
}
.inline {
	display:inline-block;	
}
.note {
	color:#666666;
	font-size:12px;	
}
.shaddow {
	text-shadow: 0px 1px 0px #ffffff;
filter: dropshadow(color=#ffffff, offx=0, offy=1);	
}
.para {
	font-size:14px;	
	color:#333;
}
.hidden{
	display:none;
}
.spinner {
	position:relative;
	top:4px;
}	